[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = magnusrodseth
	email = 59113973+magnusrodseth@users.noreply.github.com
[pull]
	ff = only
[init]
    defaultBranch = main
[alias]
    ; Open GitKraken in current working directory
    k = !"open -na '/Applications/GitKraken.app/Contents/MacOS/GitKraken' --args -p $(pwd)"
